@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgba: 12, 16, 33, 1;
  --background-start-rgba:12, 16, 33, 1;
  --background-end-rgba:12, 16, 33, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgba:12, 16, 33, 1;
    --background-start-rgba: 12, 16, 33, 1;
    --background-end-rgba: 12, 16, 33, 1;
  }
}

body {
  color: rgb(var(--foreground-rgba));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgba))
    )
    rgb(var(--background-start-rgba));
}
